html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#main-page {
    background: url(../images/coding-background-1.png) no-repeat center fixed;
    background-size: cover;
    height: 800px;
    justify-content: center;
}

.about-page {
    height: 740px;
}

.portfolio-page {
    background-size: cover;
    height: 880px;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid red;
}

.bio-text-header {
    text-decoration: underline;
    margin-top: 20px;
    text-align: center;
    font-size: 60px;
}

.bio-text-header2 {
    text-decoration: underline;
    margin-top: 60px;
    text-align: center;
    font-size: 60px;
}

.aboutP {
    font-size: 30px;
    text-align: center;
}

.myPicture {
    border-radius: 50%;
}

.my-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page-content {
    position: relative;
    top: 30%;
    left: 43%;
    margin: 0;
}

.main-name {
    top: 40%;
    left: -14rem;
    position: relative;
    width: 640px;
    color: white;
    font-size: 75px;
}

.main-description {
    top: 40%;
    left: -2.5rem;
    position: relative;
    width: 340px;
    margin: 0;
    color: white;
}

.wrapper2 {
    display: inline-flex;
    justify-content: center;
    font-size: 5rem;
    padding-top: 15px;
}

.wrapper2 i {
    padding: 10px;
}

.footer {
    background-color: black;
    padding-top: 20px;
}

.footer h5 {
    color: white;
}

@media only screen and (min-width: 992px) and (max-width: 1999px) {
    .main-page-content {
        left: 43%;
        top: 19%;
    }

    .about-page {
        height: 910px;
    }

    .portfolio-page {
        height: 1165px;
    }
}

@media only screen and (min-width: 770px) and (max-width: 991px) {
    .main-page-content {
        left: 40%;
    }

    .about-page {
        height: 1140px;
    }

    .portfolio-page {
        height: 1220px;
    }
}

@media only screen and (min-width: 650px) and (max-width: 768px) {
    .main-page-content {
        left: 38%;
    }

    #main-page {
        height: 1025px;
    }

    .about-page {
        height: 1150px;
    }

    .portfolio-page {
        height: 1215px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 640px) {
    .main-page-content {
        left: 38%;
    }

    .main-name {
        left: -12rem;
        width: 640px;
        font-size: 65px;
    }

    .about-page {
        height: 1410px;
    }

    .portfolio-page {
        height: 1400px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 414px) {
    .main-page-content {
        left: 23%;
    }

    .main-name {
        left: -3rem;
        font-size: 35px;
    }

    .main-description {
        left: 0.5rem;
        font-size: 20px;
    }

    .about-page {
        height: 1910px;
    }

    .portfolio-page {
        height: 3275px;
    }
}

@media only screen and (min-width: 414px) and (max-width: 479px) {
    .main-page-content {
        left: 25%;
    }

    .main-name {
        left: -3rem;
        font-size: 35px;
    }

    .main-description {
        left: 0.5rem;
        font-size: 20px;
    }

    .about-page {
        height: 1780px;
    }

    .portfolio-page {
        height: 3410px;
    }
}